.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align the navbar horizontally */
}

.navbar {
  margin-top: 20px; /* Adjust as needed */
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center; /* Align the navbar items horizontally */
}

.nav-list li {
  margin: 0 10px; /* Adjust spacing between navbar items */
}

.nav-list li a {
  text-decoration: none;
  color: #333; /* Adjust color as needed */
}

.nav-list li a:hover {
  color: #000; /* Change color on hover */
}

